<tabset ui-sortable="sortableOptions" ng-model="groups">
    <tab ng-repeat-start="group in groups" disabled="true"
         style="border-left: 1px solid #ddd; border-top: 1px solid #ddd; border-radius: 4px 4px 0 0">

        <tab-heading>
            <span ng-dblclick="editTitle(group, 'group' + group.id)"
                  ng-show="!group.editingTitle">{{group.groupTitle}}</span>

            <form action="" class="group-title" ng-show="group.editingTitle" ng-submit="saveTitleEdit(group)">
                <input type="text" ng-model="group.groupTitle" class="form-control" name="group{{group.id}}"
                       data-layout="{{group.id}}">
            </form>
            <span ng-if="!group.locked" ng-click="removeGroup(group)"
                  class="glyphicon glyphicon-remove remove-layout-icon"></span>
        </tab-heading>

    </tab>
    <tab ng-repeat="layoutGroup in group.layoutGroups" style="border-top: 1px solid #ddd">
        <tab-heading>
            <span ng-dblclick="editTitle(layoutGroup, 'layoutGroup' + layoutGroup.id)"
                  ng-show="!layoutGroup.editingTitle">{{layoutGroup.layoutGroupTitle}}</span>

            <form action="" class="layout-title" ng-show="layoutGroup.editingTitle"
                  ng-submit="saveTitleEdit(layoutGroup)">
                <input type="text" ng-model="layoutGroup.layoutGroupTitle" class="form-control"
                       name="layoutGroup{{layoutGroup.id}}"
                       data-layout="{{group.id}}{{layoutGroup.layoutGroupTitle}}">
            </form>
            <span ng-if="!layoutGroup.locked" ng-click="removeLayoutGroup(layoutGroup)"
                  class="glyphicon glyphicon-remove remove-layout-icon"></span>
        </tab-heading>

        <tabset>
            <tab ng-repeat="layout in layoutGroup.layouts">
                <tab-heading>
                    <a ng-click="makeLayoutActive(layout)">
                        <span ng-dblclick="editTitle(layout, 'layout' + layout.id)" ng-show="!layout.editingTitle">{{layout.title}}</span>

                        <form action="" class="layout-title" ng-show="layout.editingTitle"
                              ng-submit="saveTitleEdit(layout)">
                            <input type="text" ng-model="layout.title" class="form-control" name="layout{{layout.id}}"
                                   data-layout="{{group.id}}{{layoutGroup.id}}{{layout.layout}}">
                        </form>
                        <span ng-if="!layout.locked" ng-click="removeLayout(layout)"
                              class="glyphicon glyphicon-remove remove-layout-icon"></span>
                    </a>
                </tab-heading>
            </tab>
            <tab>
                <tab-heading class="ui-sortable-handle">
                    <a ng-click="createLayout(layoutGroup)">
                        <span class="glyphicon glyphicon-plus"></span> Layout
                    </a>
                </tab-heading>
            </tab>
        </tabset>
    </tab>
    <tab ng-repeat-end
         style="border-top: 1px solid #ddd; border-right: 1px solid #ddd; margin-right: 3px; border-radius: 4px 4px 0 0">
        <tab-heading class="ui-sortable-handle">
            <a ng-click="createLayoutGroup(group)">
                <span class="glyphicon glyphicon-plus"></span> Layout Group
            </a>
        </tab-heading>
    </tab>
    <tab>
        <tab-heading class="ui-sortable-handle">
            <a ng-click="createGroup()">
                <span class="glyphicon glyphicon-plus"></span> Group
            </a>
        </tab-heading>
    </tab>
</tabset>

<div ng-repeat="layout in getAllLayouts() | filter:{active:true}" dashboard="layout.dashboard"
     template-url="template/dashboard.html"></div>